.corps{
    display: flex;
    margin-top: 100px;
   
}
.formulaire{
    margin-left:auto;
    margin-right:25px;
}
.code_qr{
font-size: 15px;
margin-top: 30px;
margin-right: auto;
width: 250px;
max-width: 250px;

}

