body {
    font-family: sans-serif;
}

.hi {
    background-image: url("../assets/head.jpg");
}


.titre {
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: -3;
}

input {
    height: 30px;
    width: 100%;
    outline: none;
    padding-left: 15px;

}


.input-nom-prenom {
    display: flex;

}




.invalid-feedback {
    display: none;
}

input:invalid .invalid-feedback {
    display: inline-block;
}



.Affichage {

    padding: 5px;

}

.Affichage .titre {
    font-size: 30px;
    margin-top: 10px;
}